# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Martina Dimitrievska\Desktop\FINKI\4та година\Осми семестар\Софтверско инженерство\silab2\proekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
